body {
  background-color: white;
  color: #666666;
  font-family: "Open sans", Sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 0;
}

#contentWrapper {
  width: 200px;
  height: 100%;
  position: relative;
  float:left; 
}

#contentLeft {
	float:left;
  z-index: 10;
  width: 200px;
  height: 100%;
/*   position: fixed; */
/*   top: 0; */
/*   left: 0; */
margin:0 100px;
  background-color: #ffffff;
}

#contentRight {
  padding: 1.3rem 2rem;
  margin-left: 250px;
}

#leftNavigation {
  margin: 2rem 0;
}
#leftNavigation, #leftNavigation li ul {
  list-style: none;
  padding: 0;
  
}
#leftNavigation li a {
  font-size:20px;
  display: block;
  padding: 0.8rem 1rem 0.8rem 3rem;
  color: #000000;
  border-bottom: solid 1px #395673;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-decoration: none;
}
#leftNavigation li a, #leftNavigation li a .leftNavIcon {
  line-height: 200%;
}
#leftNavigation li a .leftNavIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  padding: 0.8rem 0;
  text-align: center;
}
#leftNavigation li a:hover {
/*   color: #808080; */
  background-color: #f4f4f4;
}
#leftNavigation li ul {
  display: none;
  margin: 0;
  background-color: #ffffff;
/*   border-radius:10px 10px 10px 10px; */
}
/* #leftNavigation li ul li a { */
/*   border-bottom: solid 1px #233547; */
/* } */
#leftNavigation li ul li:last-child a {
  border-bottom: none;
}
#leftNavigation li ul li.active a {
  color: black;
}
#leftNavigation li.active > a {
  color: black;
}
#leftNavigation li.active ul {
  display: block;
}
#leftNavigation > li.active {
  background-color: #c0c0c0;

}
